.title1 {
    background-color: aqua;
    margin-top: 250px;
    padding: 60px;

  
    
}

.title2 {
    background-color: greenyellow;
    padding: 30px;


}

.title3 {
    background-color: orangered;
    padding: 10px;
    

}